# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.venv/
env/

# Jupyter
.ipynb_checkpoints/
.virtual_documents/
*.ipynb_save

# VSCode / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Model and data (if large, else keep tracked if small)
# models/*.pkl
# data/*

# Ignore environment config
*.env

# Optional: if you generate build/dist
build/
dist/
*.egg-info/
